allow init self:process execmem;

allow init wpa_socket:unix_dgram_socket { bind create };

allow init kernel:system syslog_read;

allow init app_data_file:dir { read getattr open };
allow init app_data_file:file getattr;
allow init app_data_file:lnk_file getattr;
